.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Icon
logs
pids
Desktop.ini
$RECYCLE.BIN/
._*
*.log
*.cab
*.msi
*.msm
*.msp
*.lnk
*.pid
*.seed
*.sublime-project
*.sublime-workspace
*.iml
*.ipr
*.iws
.idea/
out/
.project
.metadata
*.bak
.classpath
.settings/
.vscode
jsconfig.json

node_modules
bower_components
make.js
!.gitmodules
!.travis.yml

cov-int
lib-cov
coverage

.lock-wscript
